:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --size-thumbnail: 50px;
  --font-size: 18px;

  /* animation */
  --animation-duration: 1000ms;
}

body {
  height: 100vh;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--animation-duration) ease; /*확대 효과를 1초동안 지속*/
}

.btn {
  cursor: pointer;
  transition: transform var(--animation-duration) ease; /*확대 효과를 1초동안 지속*/
  background-color: transparent; /* 버튼의 색을 투명으로 */
  border: none; /* 버튼색을 투명하게 하니 border가 못생겨서 제거 */
  /* outline: none; */
  margin-right: var(--base-space); /* button 끼리 공간 넣기 */
}

/* 마우스를 올렸을 때 1.1배 확대 */
.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  /* align-items: center; */
}

/* 이미지 버튼이 크니 사이즈 조절 */
.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--font-size);
  padding: calc(var(--base-space) * 2); /* 사이즈 키우기 */
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

.items {
  /*background-color: salmon;*/ /* 크기좀 보려고 색을 줌 */
  width: 60%;
  height: 60%; /* 개수가 몇개이든 고정되도록 반응형으로  */
  list-style: none;
  padding-left: 0; /* 크롬 개발자도구로 보면 왼쪽에 패딩이 있어서 없애줌 */
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space); /* item들이 다닥다닥 붙어서 띄어줌 */
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail); /* 그림 크기 크게 */
}

.item__description {
  margin-left: var(--base-space); /* 글자와 그림이 너무 붙어서 공간을 줌 */
  font-size: var(--font-size);
}
