<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/common/jquery-ui-1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/common/jquery-ui-1.13.2/jquery-ui.min.css" />
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css" /> -->
    <title>현황 모아 보기</title>
    <style>
      body {
        margin: 10px;
        background-image: url("/img/a.jpg");
        background-size: cover;
      }
      table,
      th,
      td {
        border-collapse: collapse;
        font-size: 16px;
        border: 2px solid #232f57;
      }
      th {
        background: #6807f9;
        color: aliceblue;
      }
      th,
      td {
        padding: 10px;
      }
      section,
      form,
      h1,
      table {
        text-align: center;
      }
      form {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1><a href="/">현황 모아 보기</a></h1>

    <section class="header" style="margin: 10px">
      <select id="place">
        <optgroup label="자주 가는 곳">
          <option value="DJ230901">서울시립(토일)</option>
          <option value="YF231001">대림(토)</option>
        </optgroup>
        <optgroup label="관악구">
          <option value="GA240101">난곡동(토일)</option>
        </optgroup>
        <optgroup label="마포구">
          <option value="MP230802">상암동(토)</option>
        </optgroup>
        <optgroup label="중랑구">
          <option value="JR220801">면목4동(토일)</option>
        </optgroup>
        <optgroup label="강동구">
          <option value="GD240101">성내1동(토일)</option>
        </optgroup>
        <optgroup label="강서구">
          <option value="GS230801">발산1동(토)</option>
        </optgroup>
      </select>
      <input type="text" placeholder="날짜" class="btn" id="date" />
      <input type="hidden" value="" id="q_dayNo" />
      <input type="button" value="추가" class="btn" id="addBtn" />
    </section>

    <table id="lists" style="margin: 20px auto">
      <tr>
        <th>지점</th>
        <th>날짜</th>
        <th>현황</th>
        <th>삭제</th>
      </tr>
    </table>

    <form method="POST"></form>

    <% if (locals.error) { %>
    <div id="error" style="text-align: center">데이터 받는 중에 오류가 발생했습니다</div>
    <%} else if (locals.resultMsg) {%>
    <div style="text-align: center">조회완료: <%=locals.resultMsg%></div>
    <%}%>

    <script>
      $.datepicker.setDefaults({
        dateFormat: "yy-mm-dd",
        prevText: "이전 달",
        nextText: "다음 달",
        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
        monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
        dayNames: ["일", "월", "화", "수", "목", "금", "토"],
        dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
        dayNamesMin: ["일", "월", "화", "수", "목", "금", "토"],
        showMonthAfterYear: true,
        yearSuffix: "년",
        minDate: 0, //과거선택불가
        beforeShowDay: function (date) {
          //2주 후 까지만 선택하기
          const curDate = new Date();
          const limitDate = new Date(curDate.setDate(curDate.getDate() + 15));
          //주말만 선택하기
          const day = date.getDay();
          const placeName = document.querySelector("#place").options[document.querySelector("#place").selectedIndex].innerText;
          //토일 여부에 다라 달력 변경
          if (placeName.includes("토일")) {
            return [date <= limitDate && day != 1 && day != 2 && day != 3 && day != 4 && day != 5];
          } else {
            return [date <= limitDate && day != 0 && day != 1 && day != 2 && day != 3 && day != 4 && day != 5];
          }
        },
      });
      $("#date").datepicker();
      $("#place").selectmenu();
      $(".btn").button();
      $("#date").on("change", function () {
        const q_dayNo = new Date($("#date").val()).getDay() + 1;
        $("#q_dayNo").val(q_dayNo);
      });

      let lists = [];
      const LIST_KEY = "lists";
      const preserveList = document.querySelector("#lists");
      const checkday = { 1: "일", 2: "월", 3: "화", 4: "수", 5: "목", 6: "금", 7: "토" };

      document.querySelector("#addBtn").addEventListener("click", handleAdd);

      function handleAdd() {
        const newPlace = document.querySelector("#place").value;
        const newDate = document.querySelector("#date").value;
        const newDayNo = document.querySelector("#q_dayNo").value;
        const newPlaceName = document.querySelector(`option[value=${newPlace}]`).innerText;
        if (!newDate) {
          alert("날짜를 선택하세요");
          return;
        }

        //중복확인
        const exists = lists.find((item) => item.place === newPlace && item.date === newDate);

        if (exists) {
          alert("추가되어 있음");
          return;
        }

        //lists array에 추가
        const item = { place: newPlace, placeName: newPlaceName, date: newDate, q_dayNo: newDayNo, id: Date.now() };
        lists.push(item);
        //리스트 그리기
        paintList(item);
        //storage에 저장
        saveList();
        makeFormInput();
      }

      function saveList() {
        localStorage.setItem(LIST_KEY, JSON.stringify(lists));
      }

      function pastDelete() {
        //과거 내역 local storage에서 삭제
        lists = lists.filter((item) => new Date(item.date) > new Date().setHours(0, 0, 0, 0));
        saveList();
      }

      function paintList(newList) {
        //newList : data Object
        const newListTr = document.createElement("tr");
        const newListTdPlaceName = document.createElement("td"); //지점
        const newListTdDate = document.createElement("td"); //날짜
        const newListTdDel = document.createElement("td"); //삭제
        const placeNameLink = document.createElement("a"); //지점링크
        // console.log(newList);
        newListTr.id = newList.id;
        newListTdPlaceName.appendChild(placeNameLink); //지점에 a태그 추가
        placeNameLink.href = "https://icare.seoul.go.kr/icare/user/kidsCafeResve/BD_selectKidsCafeResveCal.do?q_fcltyId=" + newList.place;
        placeNameLink.innerText = newList.placeName; //태그에 지점명 추가
        newListTdDate.innerText = `${new Date(newList.date).toLocaleDateString("kr-ko", { month: "numeric", day: "numeric" })}(${
          checkday[newList.q_dayNo]
        })`;
        const delBtn = document.createElement("button");
        delBtn.innerText = "❌";
        delBtn.addEventListener("click", deleteList);
        //tr안에 td추가
        newListTr.appendChild(newListTdPlaceName); //지점
        newListTr.appendChild(newListTdDate); //날짜요일
        newListTr.insertAdjacentHTML("beforeend", `<td id="${newList.place}${newList.date}"></td>`); //현황
        newListTr.appendChild(newListTdDel);
        newListTdDel.appendChild(delBtn);

        //Li 에 추가
        preserveList.appendChild(newListTr);
      }

      //list 에서 삭제
      function deleteList(event) {
        const li = event.target.parentElement.parentElement;
        li.remove();

        //console.dir(event.target.parentElement.id);

        lists = lists.filter((item) => item.id !== parseInt(li.id));

        //Lists = Lists.filter((item) => item.id === event.target.parentElement.id);
        //Lists = Lists.filter((item) => console.log(item.id, 'ddd', event.target.parentElement.id));
        saveList();
        makeFormInput();
      }

      //form data 만들기
      function makeFormInput() {
        let formInputHTML = "";
        const formHTML = document.querySelector("form");
        lists.forEach(function (item) {
          formInputHTML += `<input name="q_fcltyId" type="hidden" value="${item.place}">
          <input name="q_resveDe" type="hidden" value=${item.date}>
          <input name="q_dayNo" type="hidden" value=${item.q_dayNo}>
          `;
          // formHTML.insertAdjacentHTML("beforeend", formInputHTML);
        });
        formInputHTML += `<input type="submit" value="조회" />`;
        formHTML.innerHTML = formInputHTML;
        $("input[type=submit]").button();
      }

      const savedLists = localStorage.getItem(LIST_KEY);

      //localStorage 데이터로 리스트 만들기
      if (savedLists) {
        const parsedLists = JSON.parse(savedLists);
        lists = parsedLists;
        pastDelete();
        lists.forEach(paintList);
        makeFormInput();
      }

      //backend에서 받은 데이터 처리
      const data = "<%=JSON.stringify(locals.result)%>";
      // console.log("data: " + data);
      // console.log("<%=locals%>");
      if (data === "&#34;&#34;" || data === "") {
        console.log("data X");
      } else {
        const replaceData = JSON.parse(data.replace(/&#34;/g, '"'));
        // console.log(JSON.parse(replaceData));
        console.log("backend 처리");
        // console.log(replaceData);
        replaceData.forEach(function (item) {
          const id = `${item.fcltyId}${item.q_resveDe}`;
          if (document.querySelector(`#${id}`)) {
            //과거내역은 삭제되어서 없는 경우가 있음
            document.querySelector(`#${id}`).innerHTML += `${item.useBeginTime}(${item.emptyCnt}/${item.emptyWaitCnt})<br>`;
          }
        });
      }

      // opResveCancel('DJ230701', '7157');
    </script>
  </body>
</html>
